@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,500&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins',sans-serif;
    color:#183b56;
}
h1{
    font-size:  3rem;
   
}
h2{
    font-size:  2rem;
   
}
h3{
    font-size:  1.5rem;
   
}
p{
    font-family: 'Roboto',monospace;
    font-size: 1.25rem;
    line-height: 1.8rem;
    color:#577592;
}
a{
    text-decoration: none;
    display: inline-block;
    
}
ul{
    list-style-type: none;
}
.smallheading{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    margin-inline:auto;
    padding-inline:20px;
    max-width: 1180px;
    overflow:hidden ;
}
.top-header{
    background-color: #4fb3d4;
    background-image: url('asset\ 32.png');
    background-size: 300px;
}
.smallheading{
    padding:15px 30px;
    color:white;
    text-align:center;

}
.logo img{
    width:200px;
    border-radius: 50%;
}
.main-nav{
    justify-content: space-between;
    margin-top:15px;
    position: relative;

}
.nav-toggle{
    display: none;
}


.flex{
    display:flex;
    align-items: center;
}
.hoverlinks{
    color:#021728;
    transition:0.2s ease-out;
}
.hoverlinks:hover{
    color:#71bdd7;
    
}

.navlinks{
    flex-basis:730px;
}
.navlinks ul{
    justify-content: flex-end;
    gap:40px;
}
.flex li{
    padding:10px;
}
.firstbutton{
    border:1px solid #577592;
    border-radius:6px;
    padding:10px;
    font-weight: 700;
}
.firstbutton:hover{
    color:#71bdd7;
}
.Secondbutton{
   background-color: #4fb3d4;
   color:white;
   font-weight: 700;
   border-radius:6px;
   padding:12px 24px;
   transition:0.2s ease-out;
   text-align: center;
}
header{
    padding:50px 20px;
}
.header-section{
    gap:50px;
    justify-content: center;
}
.headerright img{
    width:100%;
}
.headerleft{
    max-width:40vw;
    
}
.headerleft h1{
    margin-top:20px;
}
.getstart{
    margin-top:20px;
}
.smallheading1{
    color:black;
    text-align:center;
    margin-block: 30px;
}
.cimage{
    height: 46px;
    
}
.gallery{
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap: 20px;
}
.firstbutton1{
    border:1px solid #577592;
    border-radius:6px;
    padding:10px;
    font-weight: 700;
    padding:20px;
    
}
.feature{
    padding:80px 20px 0;
    background-image: url("asset\ 41.png");
}
.feature-header{
    text-align: center;
    margin-bottom: 40px;
}
.feature-header h2{
    margin-bottom: 20px;
}
.feature-card{
    gap:20px;
    flex-direction: column;
    max-width: 30%;
    text-align: center;
}
.feature-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    margin-top:20px;
}
.more-feature{
    padding:30px 20px;
}
.big-container{
    gap:30px;

}
#Secondfeature{
    flex-direction: row-reverse;

}
.feature-img img{
    width:95%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
.example{
    padding:80px 20px;
}
.example-area{
    justify-content: space-between;
    margin-block:30px;
    flex-wrap: wrap;

}
.example-card{
    width:23%;
    background-color: black;
    position:relative;
    min-height: 300px;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('asset\ 37.jpeg');
    background-size: cover;
    
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
    transition:ease-out;
}
.example-card:nth-child(4){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('asset\ 38.jpeg');
    background-size: cover;
}
.example-card:nth-child(3){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('asset\ 39.jpeg');
    background-size: cover;
}
.example-card:nth-child(5){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('asset\ 36.jpeg');
    background-size: cover;
}


.card-text{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
    color:white;
}
.cta-section{
    flex-direction: column;
    gap:30px;
    color:white;
    text-align: center;

}
.cta-section p{
    color:white;
    margin-top:20px;
}
.cta{
    background-color: #183b54;
    padding:120px 20px 80px;
}
.link-coloumn{
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
    
}
.company-logo img{
    width:280px;
    border-radius: 70%;
}
footer{
    padding-block:80px;
    background-color: #ebf2fa;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.subfooter{
    background-color: #b9cde4;
    padding:20px;
}
.subfooter-container{
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}
.hoversfooter:hover{
    color:#71bdd7;
}
